Package: com.ps.emojiportlegacy
Name: EmojiPort (iOS 6.0-8.2)
Depends: preferenceloader, firmware (>= 6.0), firmware (<< 8.3), com.ps.emojilayout (>= 1.1.21), com.ps.emojiattributes (>= 1.4.4~b1), com.ps.emojilocalization (>= 1.1), com.ps.emojilibrary (>= 1.6.1), firmware (<< 7.0) | com.ps.emojiresources (>= 1.2)
Conflicts: com.ps.emoji9legacy, com.ps.emoji10legacy
Version: 1.8.7
Architecture: iphoneos-arm
Description: Latest emojis for iOS 6.0-8.2
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depiction: https://poomsmart.github.io/repo/depictions/emojiport_6.html
Tag: compatible::ios6, compatible::ios7, compatible::ios8
